@import 'colors';

body {
  background-color: $dark_blue;
  color: $light_blue;
}

.container {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}

.title {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

.card-input {
  padding: 10px 10px 0 10px;
  background-color: $light_blue;
}

.color {
  color: $white;
  &.green {
    background-color: $green;
  }
  &.blue {
    background-color: $blue;
  }
  &.red {
    background-color: $red;
  }
  &.orange {
    background-color: $orange;
  }
  &.purple {
    background-color: $purple;
  }
}

.deletable {
  cursor: pointer;
  &:hover {
    background-color: $red;
  }
}
